* {
    margin: 0; padding: 0;
    font-family: "Quicksand", serif;
}
/*
html { scroll-behavior: smooth; }
*/
body
{ /*background-color: #e5a0a0;*/
    font-size: 2em;
    align-items: center; text-align: center; }

h1, h2, h3, h1 > span, h2 > span, h3 > span
{ font-family: "Playfair Display"; }

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    cursor: text;
}
.bleeeh
{
    background-color:/* #9efcdd WORKING COLOR*/ #797474; height: 20rem; width: 1fr;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.bleeeh:nth-child(1){ background-image: url("cars/1978 Clenet Series I Roadster¨ 105250.jpg"); }
.bleeeh:nth-child(2){ background-image: url("cars/1989 Jaguar XJS¨ V12.jpg"); }
#logo {cursor: pointer;}

#navibar {width: 1100px;}
/*
TRYING TO give a more definite size for nabivar instead of 100%, also trying to figure out how to enter a background image for bleeeh[0] and bleeeh[1] without disrupting the rest of the page. Might just need to seek a YT tutorial...
*/
table.navibar
{ /*background-color: bisque; */position: absolute; width: 100%; text-align: center;}

td {width: 96px; /*background-color: orchid;*/}

a.noStyleA {color: black; text-decoration: none; font-family: "Merriweather";}
a.noStyleA:hover {color: white; text-shadow: 0 0 5px #8a6917d5; transition: .5s;}
a.noStyleB {color: black; text-decoration: none; font-size: 1rem;}

.pTxt {font-family: "Quicksand"; font-size: 1rem; padding: 30px; padding-left: 90px; padding-right: 90px; /*background-color: goldenrod;*/ text-align: left; /*padding-bottom: 100px;*/}
    .pTxt ul {padding: 30px; padding-left: 40px;}

.shift {
    /*background-color: cornflowerblue; WORKING COLORS*/
    margin: auto; padding-top: 30px; width: 900px; /*formerly width was 60%, until I realised the layout adapted to the viewport width, which was not a look I was going for*/
    padding-bottom: 50px;
}
.widthOV{width: 100%;}

.gridalicious {/*background-color: purple;*/
    display: grid; gap: 15px; grid-template-columns: repeat(18, 1fr);}
    /*formerly, repeat(3, 1fr); remade into 18 bc 3*2*3 (needed dishMid and wanted to make a new class to arrange something for i % 3 == 2) too, if I know my father right!*/
    div.dish
    { grid-column: span 6; /*background-color: #facfde; WORKING COLORS*/ height: 150px; font-size: 1rem; }
        .dish:hover{filter: brightness(75%);}
        .dish:active{filter: brightness(75%);}
    div.dishMid {grid-column: 7/span 6;} /*formerly : 2/3*/
    div.dishTwoMidOne {grid-column: 4/span 6;}
    div.dishTwoMidTwo {grid-column: 10/span 6;}
    div.invisi{background-color: plum;}
    div.imgtxt{background-color: aquamarine;}

:root{
    --greyImgSize: 45px;
    --gridTemp1imgWidth: 1000px;
}

.gridTemp1
{
    /*background-color: orchid;*/
    width: 94%; /*margin-left: 2%;*/
    display: grid;
    grid-template-columns: 100px auto; grid-template-rows: 200px var(--gridTemp1imgWidth);
    margin-bottom: 20px;
    height: auto;
}
/*#it1 {background-color: green;}*/
#it2 {/*background-color: purple; WORKING COLOR*/ text-align: left;  margin-left: 30px;}
.it2 {width: var(--gridTemp1imgWidth); background-color: black;}
img.dishImg {
    width: 290px; height: 150px;
    object-fit: cover;
    cursor: pointer;
} img.dishImg:hover {filter: brightness(90%)}
  img.dishImg:active {filter: brightness(80%)}
#it3 {grid-column: 1/2; grid-row: 1/4; font-size: 12px;}


/*LITTLE THINGS*/
.note {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    align-items: center;
    background-color: #c7d2d5;
    z-index: 1;
    width: 40%;
    transition: all 2s;
    padding-top: 10px;
}
.hide {opacity: 0; bottom: -10%;}
.show {opacity: 1; bottom: 30px;}
#kjøreturPDFlisteGridTESt > div {
    float: left;
}

/*GRÅGALLERIET*/
#grTmp1pan {margin-left: 20px; display: grid; grid-template-columns: auto auto; gap: 8px;}
.panhght{
    background-color: bisque;
    filter: saturate(10%) brightness(90%);
    width: var(--greyImgSize); height: var(--greyImgSize);
}   .smallGrey {
        width: var(--greyImgSize); height: var(--greyImgSize);
        object-fit: cover;
        cursor: pointer;
    }
    .panhght:hover {filter: brightness(80%);}
    .panhght:active {filter: brightness(70%);}